<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <body class="grey-bg">
        <%- include('nav.ejs') %>
        
        <form class="form-box" action="/login" method="POST">
            <h4>로그인</h4>
            <input name="username" placeholder="ID를 입력하세요">
            <input name="password" type="password" placeholder="비밀번호를 입력하세요">
            <button type="submit">로그인</button>
        </form> 

        <a class="btn btn-block" href="/auth/google" role="button">구글 로그인</a>

        <a href="/register">회원가입</a>
      </body>


</body>
</html>